<div class="container">
  <h2>Tickets sold</h2>
    <!-- <table>
      <tr>
        <th>Ticket Reference</th>
        <th>Performance</th>
        <th>Price</th>
      </tr>
      <% @tickets.each do |ticket| %>
      <tr>
        <td>
          <%= ticket.id %>
        </td>
        <td>
          <%= ticket.performance %>
        </td>

        <td>
          <form class="button" method="post" action="/tickets/<%= ticket.id %>/delete">
            <input type="submit" value="Refund Ticket"/>
          </form>
        </td>
      </tr>
      <% end  %>

    </table> -->

</div>
