<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> The Aphra Behn Theatre </title>
    <link rel="stylesheet" href="/style.css?iona-macbeth">
    <link href="https://fonts.googleapis.com/css?family=Lato|Lora:400,700i|Playfair+Display|Roboto:300,400" rel="stylesheet">
  </head>
  <header>

  </header>
  <body>
    <div class="heading">
      <h1> The Aphra Behn Theatre Box Office</h1>
        <nav>
          <h3><b>
          <ul>
            <li>
              <a href="/shows">All shows</a>
            </li>
            <li>
              <a href="/shows/new">Add a new show</a>
            </li>
              <li><a href="/performances">View full performance schedule</a></li>
              <li><a href="/performances/new">Add a new performance</a></li>
          </ul>
          </b>
          </h3>
        </nav>
    </div>
    <div class="background">

    </div>
    <%= yield %>
  </body>
</html>
