html { }

header {
  text-align: center;
  font-family: 'Lora', serif;
}
ul {
  list-style-type: none;
  justify-content: space-around;
  align-content: center;
  display: flex;
  color: #FC3C3C;
}

a {
  text-decoration: none;
  color: #FC3C3C;
}

th {
  padding: 1vh;
  text-align: left;
}
td {
  padding: 1vh;
  text-align: left;
}

table {
  align-content: left;
  display: flex;
}


.Sold-out { background-color: #2dc937;
}
.Low-availability { background-color:	#99c140;
}
.Medium-availability { background-color: #db7b2b;
}
.High-availability { background-color: #cc3232;
}
