html {}

body {
background-color: #FFFEE7;
margin: 0 auto;
}


.background {
  background-image: url("/theatre-image.jpg");
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity : 0.1;
  z-index: -1;
}


.heading {
  text-align: center;
  color: black;
  font-family: 'Lora', serif;
  margin: 0 auto;
  width: 100%;
  border: 0;
  padding: 0;
}
.container {
  padding: 15px 50px 25px;
  align-content: center;
  justify-content: space-around;
  margin: 0 auto;
  display: table;

}

.nav {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}

.form-wrapper {
  justify-content: space-around;
  align-content: center;
}
ul {
  list-style-type: none;
  justify-content: space-around;
  align-content: center;
  display: flex;
  color: #d70d1f;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #d70d1f;
  font-weight: normal;
}

th {
  padding: 1vh;
  text-align: left;
}
td {
  padding: 2vh;
  text-align: left;
}

table {
  align-content: left;
  display: flex;
  justify-content: space-around;
}



.Sold-out { background-color: #2dc937;
}
.Low-availability { background-color:	#99c140;
}
.Medium-availability { background-color: #db7b2b;
}
.High-availability { background-color: #cc3232;
}
