<h2>Performances</h2>

<table style="width:100%">
  <tr>
    <th>Show</th>
    <th>Start time</th>
    <th>Seating capacity</th>
  </tr>
  <% @performances.each do |performance| %>
  <tr>
    <td><%= performance.show.name %></td>
    <td><%= performance.start_time %></td>
    <td><%= performance.seating_capacity %></td>
    <td><a href="/performances/<%= performance.id %>">View Performance</a></td>
  </tr>

  <% end %>

</table>
