<div class="container">
  <h2>Add a new performance</h2>

<table>
  <div class="form-wrapper">
  
    <form action="/performances" method="post">
      <tr>
        <td>
          <label for="show-selection">Select a show:</label>
            <select name="show_id" id="show-selection">
              <% @shows.each do |show| %>
                <option value=<%= show.id %>><%= show.name %></option>
              <% end %>
            </select>
        </td>
      </tr>
      <tr>
        <td>
            <label for="start_time">Please enter a date and start time:</label>
            <input type="datetime-local" name="start_time" id="start_time"/>
        </td>
      </tr>

      <tr>
        <td>
          <label for="empty_seats">Please enter the maximum venue capacity:</label>
            <input type="number" name="empty_seats">
        </td>
      </tr>

      <tr>
        <td>
          <label for="price">Please enter a ticket price:</label>
            <input type="number" name="price" min="10" max="50">
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" value="Create new performance">
        </td>
      </tr>
    </div>
  </form>
</table>
</div>
