<br><br>
<div class="container">
  <h2>Shows</h2>

  <table>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>More details</th>
    </tr>
    <% @shows.each do |show| %>
    <tr>
      <td><%= show.name %></td>
      <td> <%= show.type %> </td>
      <td><a href="/shows/<%= show.id %>">View performances</a></td>
    </tr>
  <% end %>
  </table>

</div>
