<br><br><br>
<div class="container">
  <h2>Add a new show</h2>
  <table>

    <form action="/shows" method="post">
      <tr>
        <td>
          <label for="title">Title:</label>
            <input id="title" type="text" name="name">
        </td>
      </tr>
      <tr>
        <td>
          <label for="type">Type:</label>
            <select name="type" id="type">
              <option value="Play">Play</option>
              <option value="Musical">Musical</option>
              <option value="Dance">Dance</option>
              <option value="Comedy">Comedy</option>
            </select>
        </td>
      </tr>
      <tr>
        <td>
          <input type="submit" value="Create new show">
        </td>
      </tr>
    </form>

  </table>
</div>
